$carousel-control-prev-icon-bg: url('../svg/prev.svg');
$carousel-control-next-icon-bg: url('../svg/next.svg');
$carousel-control-icon-width: 15px;
$carousel-control-opacity: 1 ;
$carousel-control-hover-opacity: 1;

@import '../../../node_modules/bootstrap/scss/carousel';

.carousel-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
}

.carousel-caption {
    align-self: center;
    position: unset;
    text-align: left;
    width: 605px;

    & > p {
        font-weight: $font-weight-semibold;
        font-size: 17px;
        line-height: 32px;
    }
}

.carousel-control-prev {
    justify-content: flex-start;
    
    &:hover .icon-wrapper {
        background: rgba(255, 255, 255, 0.35);
    }
}

.carousel-control-next {
    justify-content: flex-end;

    &:hover .icon-wrapper {
        background: rgba(255, 255, 255, 0.35);
    }
}

.icon-wrapper {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition-base;
}

.carousel-indicators {
    align-items: flex-end;
    margin-bottom: 30px;

    & li {
        border-radius: 50px;
        height: 10px;
        width: 10px;
        border: none;
        opacity: 1;
        background: #fff;
        transition: $transition-base;

        &.active {
            background: #0058bb;
            width: 13px;
            height: 13px;
        }
    }
}

.services-carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include clearfix();
}

.services-carousel-item-wrapper {
    display: flex;
    width: calc(125vw - 14px);
    transition: transform .5s;
    flex-wrap: wrap;

    @media screen and (max-width: 1024px) {
        width: calc(166.65vw - 14px);
    }

    @media screen and (max-width: 768px) {
        width: calc(250vw - 14px);
    }

    @media screen and (max-width: 600px) {
        width: calc(500vw - 14px);
    }
}

.services-col {
    display: flex;
    flex-direction: column;
    min-height: calc(565px * 2);
    flex-grow: 1;

    & .service-item {
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        &:hover {
            .service-overlay {
                transform: scale(1.2);
                &:after {
                    background-color: rgba(0, 0, 0, 0.35); 
                }
            }
            .service-caption {
                bottom: 10px;
            }
        }
    }
}

.service-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 20px;
    display: flex;
    height: 100px;
    h4 {
        color: #fff;
        margin-bottom: auto;
        margin-top: 0px;
        max-width: 260px;
    }
    transition: $transition-base;
}

.service-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: $transition-base;
    background-size: cover;
    background-repeat: no-repeat;

    &#service1 {
        background-image: url('../images/event-consulting.png');
    }
    &#service3 {
        background-image: url('../images/creative.png');
    }
    &#service5 {
        background-image: url('../images/design-print.png');
    }
    &#service7 {
        background-image: url('../images/event-marketing-pr.png');
    }
    &#service9 {
        background-image: url('../images/travel-transportation.jpeg');
    }
    &#service2 {
        background-image: url('../images/venue-selection.png');
    }
    &#service4 {
        background-image: url('../images/event-production.png');
    }
    &#service6 {
        background-image: url('../images/photography-videography.png');
    }
    &#service8 {
        background-image: url('../images/entertainment-talent-booking.png');
    }
    &#service10 {
        background-image: url('../images/post-production.png');
    }

    &:after {
        background-color: rgba(0, 0, 0, 0);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        transition: $transition-base;
    }
}

#services-carousel {
    .carousel-control-next, .carousel-control-prev {
        width: 4%;
    }
    .icon-wrapper {
        width: 25px;
        height: 60px;
        background: theme-color('secondary');
    }
}

.yellow {
    background: $yellow;
}
.orange {
    background: $orange;
}
.purple {
    background: $purple;
}
.green {
    background: $green;
}
.blue {
    background: $blue;
}

// #services-carousel {
//     .left {
//         transform: translateX(0%);
//     }

//     .right {
//         transform: translateX(-20%);

//         @media screen and (max-width: 1024px) {
//             transform: translateX(-40%); 
//         }

//         @media screen and (max-width: 768px) {
//             transform: translateX(-60%); 
//         }
//     }
// }
  