
.image-right {
    position: absolute;
    right: 0;
    width: 750px;
    height: auto;

    @media screen and (max-width: 1500px ) {
        width: 700px
    }

    @media screen and (max-width: 1440px ) {
        width: 650px
    }

    @media screen and (max-width: 1300px ) {
        width: 600px
    }

    @media screen and (max-width: map-get($grid-breakpoints, xl) ) {
        position: relative;
        flex-grow: 1;
        margin-top: 50px;
    }
} 

@import '../../../node_modules/bootstrap/scss/images';