
// $primary: rgb(240, 163, 62);

$link-color: #2b2b2b;
$link-hover-color: #105caa;
$link-active-color: $link-hover-color;
$body-color: #fff !important;

$theme-colors: (
  "primary":  #f0a33e,
  "secondary": #ef3e32,
  "accent": #753191
);



